In [ ]:
#Try to extract data from index one to index 300 with a jump of 3
data = list(range(1, 301))

# Extract data from index 1 to 300 with a step of 3
extracted_data = data[1:300:3]

# Print the extracted data
print(extracted_data)

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98, 101, 104, 107, 110, 113, 116, 119, 122, 125, 128, 131, 134, 137, 140, 143, 146, 149, 152, 155, 158, 161, 164, 167, 170, 173, 176, 179, 182, 185, 188, 191, 194, 197, 200, 203, 206, 209, 212, 215, 218, 221, 224, 227, 230, 233, 236, 239, 242, 245, 248, 251, 254, 257, 260, 263, 266, 269, 272, 275, 278, 281, 284, 287, 290, 293, 296, 299]

In [ ]:
#Try to reverse a string without using reverse function
string = str(input("input a string for reverse:"))
reverse = string[::-1]
print(reverse)

input a string for reverse:Hello
olleH

In [ ]:
#Try to split a string after conversion of entire string in uppercase
string = input("Enter_a_String:")
upper_string = string.upper()
new_string = upper_string.split()
print(new_string)

Enter_a_String:im anjali jaiswal
['IM', 'ANJALI', 'JAISWAL']

In [ ]:
upper_string.split("_")

['IM ANJALI JAISWAL']

In [ ]:
#try to convert the whole string into lower case
string = input("Enter a String:")
string.lower()

Enter a String:HII I'M ANJALI LEARNING DATA SCIENCE

"hii i'm anjali learning data science"

Try to give an example of expand tab- Used to give spaces in the sstring

In [ ]:
original_string = "Hello\tWorld!\tHow\tare\tyou?"

# Expand tabs with the default number of spaces (8)
expanded_string_default = original_string.expandtabs()

# Expand tabs with 4 spaces
expanded_string_4 = original_string.expandtabs(4)

# Expand tabs with 2 spaces
expanded_string_2 = original_string.expandtabs(2)

# Print the resulting strings
print("Original string:")
print(original_string)
print("\nExpanded with default (8 spaces):")
print(expanded_string_default)
print("\nExpanded with 4 spaces:")
print(expanded_string_4)
print("\nExpanded with 2 spaces:")
print(expanded_string_2)

In [ ]:
#Give an example of strip , lstrip and rstrip
test = "     im anjali    "
test.strip()#remove the spaces from both side of the text
test.lstrip()#remove the spaces from left side
test.rstrip()#remove the spaces from right side

'im anjali'

In [ ]:
#Replace a string charecter by another charector by taking your own example
name = "Sabhyanjali"
name.replace("a","s")

'Ssbhysnjsli'

In [ ]:
#Try  to give a defination of string center function with and exmple
txt = "Anjali"

x = txt.center(20) #Print the word "banana", taking up the space of 20 characters, with "banana" in the middle

print(x)

       Anjali

In [ ]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [ ]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [ ]:
find = l[7][0]
print(find)

234

In [ ]:
find = l[5][1]
print(find)

456

In [ ]:
#extracting all the list collection from l
list_collections = [item for item in l if isinstance(item, list)]

print(list_collections)

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [ ]:
for item in l:
  if isinstance(item, list):
    print(item)

[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]

In [ ]:
find = l[8]
value = find["key1"]
print(value)

sudh

In [ ]:
for item in l:
  if isinstance(item, dict):
    print(item)

{'key1': 'sudh', 234: [23, 45, 656]}

In [ ]:
dictionary = l[8]

# Extract all the values from the dictionary
values = list(dictionary.values())

print(values)

['sudh', [23, 45, 656]]