## **Variables in Python**

In [ ]:
a=22
print(type(a))

<class 'int'>

In [ ]:
"Day" + "1"

'Day1'

In [ ]:
a=24
b=12
print((int(a+b)))

36

### User Input

In [ ]:
x=input("Enter your name: ")
print(f"You have entered: {x}")

Enter your name: Anjali
You have entered: Anjali

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")
print(f"sum of A and B is:{A+B}")

Enter value of A: 12
Enter value of B: 10
sum of A and B is:1210

# Type Casting

In [ ]:
 #String to integer
A ="50"
print(f"data type before: {type(A)}")
A = int("50")
print(f"data type after:{type(A)}")

data type before: <class 'str'>
data type after:<class 'int'>

In [ ]:
#Integer to float
A=50
print(f"data type before:{type(A)}, value of A: {A}")
A=float(A)
print(f"data type after:{type(A)}, value of A: {A}")

data type before:<class 'int'>, value of A: 50
data type after:<class 'float'>, value of A: 50.0

In [ ]:
#Empty string to boolean
A=" "
print(f"data type before:{type(A)},value of A:{A}")
A=bool(A)
print(f"data type after:{type(A)},value of A:{A}")

data type before:<class 'str'>,value of A:
data type after:<class 'bool'>,value of A:True